<h1>Anything-FootballShop</h1> 

<h2>What Do You Want To Buy?</h2>
<p>Don't find products? try to add one :D</p>
<a href="{% url 'main:create_product' %}">
    <button>+ Add Product</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<hr>

<a href="?filter=all">
  <button type="button">All Products</button>
</a>
<a href="?filter=my">
  <button type="button">My Products</button>
</a> 

{% if product_list %}
  {% for product in product_list %}
    <div>
      <h2><a href="{% url 'main:show_product' product.id %}">{{ product.product_name }}</a></h2>

      <p>
        <b>{{ product.get_category_display }}</b>
        {% if product.in_stock %} | <b>In Stock</b>{% endif %}
        {% if product.is_product_trend %} | <b>Trend</b>{% endif %}
        | <i>{{ product.created_at|date:"d M Y H:i" }}</i>
        | Views: {{ product.product_views }}
      </p>

      {% if product.image %}
        <img src="{{ product.image }}" alt="image" width="150" height="100">
        <br />
      {% endif %}

      {% load humanize %}
      <h3>Rp {{ product.price|intcomma }}</h3>
      <p>{{ product.description|truncatewords:25 }}...</p>

      {% if product.user %}
          <b>Seller: {{ product.user.username }}</b>
      {% else %}
          <b>Seller: Anonymous</b>
      {% endif %}

      <p><a href="{% url 'main:show_product' product.id %}"><button>See Product</button></a></p>
    </div>

    <hr>
  {% endfor %}
{% else %}
  <p>Belum ada produk yang ditampilkan di beranda.</p>
{% endif %}
